body{
    background: linear-gradient(90deg ,  #79dadf , #266d70 , #79dadf);
  }
  
.title {
  font-size: 25px;
    text-align: center;
    margin: 0px auto 20px;
  }

.sesion-img {
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    margin: 0px auto -30px;
    border-radius: 50%;
    background-image: url(../../image/usuerlogin.png);
    background-size: cover;
    top: -60px;
}

.container-main {
    width: 600px;

    font-family: sans-serif;
    margin: 50px auto;
  }
.form {
    background-color: #b3b0b0;
    background: linear-gradient(90deg , #d9dbdb, #9fbbbe, #6b767a );
  }


.container-main .form {
    border: 1px solid rgb(185, 180, 180);
    border-radius: 14px;
    padding: 20px;
  }
.container-main .form label {
    padding: 10px 10px;
    display: inline-block;
    justify-self: left;
    color: black;
    font-weight: bold;
    width: 6rem;
    margin-left: 0.7rem;    
  }

.container-main .form .data {
  display: flex;
  margin-bottom: 20px;
  width: 500px;
}

.container-main .form .input {
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 80%;
  }
.container-main .form .input[type='submit'] {
   display: block;
    background-color: #373fad;
    color: white;
    font-size: 14px;
    font-weight:bolder;
    cursor: pointer;
    width: 200px;
    margin: 0px auto 20px;
  }
.container-main .form .input[type='submit']:hover {
    outline: 1px solid #505594;
    background-color: #505594;
    color: #000000;

  }
.a {
  text-align: center;
  width: 30rem;
    display: block;
    text-decoration: none;
    color: rgb(14, 63, 128);
    font-size: small;
    margin: 0px auto 0px;
  }