body{
    background-color: #77a2a4;
  }
  
.title {
  font-size: 25px;
    text-align: center;
    margin: 0px auto 20px;
  }

.sesion-img {
    width: 200px;
    height: 200px;
    margin: 0px auto 20px;
    border-radius: 50%;
    background-image: url(../../image/LogoUsuario.jpg);
    background-size: cover;
}

.container-main {
    width: 500px;

    font-family: sans-serif;
    margin: 50px auto;
  }
.form {
    background-color: #a6a6a6;
  }


.container-main .form {
    border: 1px solid #ccc;
    border-radius: 14px;
    padding: 20px;
  }
.container-main .form label {
    padding: 10px 10px;
    display: inline-block;
    justify-self: left;
    color: black;
    font-weight: bold;    
    margin: 0px 3rem 0px 2rem;
  }

.container-main .form .data {
  display: flex;
  margin-bottom: 20px;
}

.container-main .form .input {
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 45%;
  }
.container-main .form .input[type='submit'] {
  display: block;
    background-color: #B56FED;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
    margin: 0px auto 20px;
  }
.container-main .form .input[type='submit']:hover {
    outline: 1px solid #B56FED;
    background-color: #fff;
    color: #B56FED;

  }
.a {
  text-align: center;
  width: 20rem;
    display: block;
    text-decoration: none;
    color: rgb(33, 90, 165);
    font-size: small;
    margin: 0px auto 0px;
  }