.container {
  width: 500px;
  font-family: sans-serif;
  margin: 50px auto;
}

.container form {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 14px;
  padding: 0 0 20px;
}

.container form input {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 7px;
  width: 80%;
  margin-bottom: 20px;
}

.container form input[type='submit'] {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 90%;
}

.container form div {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: rgb(33, 90, 165);
  font-size: small;
}
